
html,body{
	height:100%;
}
body{
	overflow:hidden;
}
.main{
	max-width:660px;
	height:100%;
	margin: 0 auto;
	position:relative;
}

/*头部*/
.Affordable{
    height: 74px;
}
.Affordable .top-fix{
    width: 100%;
    height: 74px;
}
.Affordable .top-fix .return{
    padding: 18px 0 0 17px;
}
.Affordable .top-fix .share{
    padding: 18px 17px 0 0;
}
.Affordable .top-fix .top-btn a{
    width: 38px;
    height: 37px;
    display: block;
}
.Affordable .top-fix .return a{
    background: url("../img/return.jpg");
}
.Affordable .top-fix .share a{
    background: url("../img/share.jpg");
}

.Affordable .top-fix .top-title{
    width: 400px;
    margin: 0 auto;
    font-size: 34px;
    padding-top: 18px;
	text-align:center;
}

.main .con{
	
}
.main .con ul{
	padding:0 14px;
}
.main .con ul li{
	width:308px;
	height:384px;
	margin:0 4px 8px; 
	float:left;
}

.bigPic{
	position:fixed;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background:#333;
	display:none;
}
#canvas{
	position:absolute;
	left:0;
	right:0;
	top:0;
	bottom:0;
	margin:auto;
	background:red;
}



























